<html>

<head>
  <title>Login Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
    }

    h1 {
        color: #333;
        font-family: "Arial", sans-serif;
        font-size: 36px;
        color: #333;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 40px;
        margin-bottom: 20px;
      }

    form {
      display: inline-block;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: left;
    }

    input[type="text"],
    input[type="password"] {
      width: 200px;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    a {
      text-decoration: none;
      color: #337ab7;
    }

    .error-message {
        color: red;
      }
      /* Position the logo */
    img.logo {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img.logo {
        position: absolute;
        top: 10px;
        right: 10px;
      }

  </style>
</head>

<body>
  <h1>Login Page</h1>
  <% if (typeof error !== 'undefined') { %>
    <p class="error-message"><strong>Error:</strong> <%= error %></p>
  <% } %>
  <!-- Add the "logo" class to the img tag -->
  <img src="https://img.icons8.com/?size=50&id=lEV2xeBg4PUI&format=png" alt="Logo" class="logo">
  
  <form action="/login" method="post">
    <label for="userName">User Name:</label><br>
    <input type="text" id="userName" name="userName"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Login"><br><br>

    <p>New User? <a href="/login/create">Create Account</a></p>
  </form>
</body>

</html>